<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420379152810-allh46ur044h6g4q36jhmmoijucemuh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420379152810-allh46ur044h6g4q36jhmmoijucemuh6</string>
	<key>API_KEY</key>
	<string>AIzaSyBpVO4PuKlUgcqqJ4PSM4j_xungue5V_CE</string>
	<key>GCM_SENDER_ID</key>
	<string>420379152810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-6b1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-6b1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420379152810:ios:fd45411a594762c2db5bd3</string>
</dict>
</plist>